p { 
  color: rgb(255, 0, 0); 
}

p { 
  color: rgba(255, 0, 0, 0.8); 
}

p { 
  color: hsl(0, 100%, 50%);
}

p { 
  color: #FF0000;
    font-family: "Courier New", monospace;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline red solid 5px;
    text-align: center;
}


#latest { 
  background-color: red; 
}

.navigation { 
  margin: 2px;
  background-color: green; 
}

p.introduction { 
  margin: 2px;
  background-color: yellow; 
}



#blog > h1 {
  color: blue;
}

a:hover {
  color: orange;
}

div {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
  background-color: lightblue;
}

.parent {
  border: 4px solid red;
}

.child {
 float: right;
}